language: go

dist: jammy
group: stable

go:
  - 1.19.x
  - 1.20.x
  - 1.21.x
  - 1.22.x

notifications:
  email: true

env:
  global:
    - GO111MODULE=on
    - GOGC=50            # keep Go GC tighter to reduce peak RAM
    - GOMAXPROCS=2       # limit CPU parallelism a bit on CI
  matrix:
    - GOLANGCI_LINT_VER=v1.52.2  # for Go 1.19.x
    - GOLANGCI_LINT_VER=v1.54.2  # for Go 1.20.x
    - GOLANGCI_LINT_VER=v1.56.2  # for Go 1.21.x
    - GOLANGCI_LINT_VER=v1.58.2  # for Go 1.22.x

before_install:
  - sudo apt-get update
  - pyenv global 3.8 || true
  - export PATH=$PATH:$(go env GOPATH)/bin
  - go mod tidy
  - go mod verify

install:
  # Use the per-job GOLANGCI_LINT_VER
  - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh \
    | sh -s -- -b $(go env GOPATH)/bin ${GOLANGCI_LINT_VER}
  - curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh \
    | sh -s -- -b $(go env GOPATH)/bin

before_script:
  - go version
  - go env

script:
  - make tidy
  - make test-cov
  - golangci-lint cache clean || true
  - make lint
  - make scan-gosec

cache:
  directories:
    - $GOPATH/pkg/mod
    - $HOME/.cache/golangci-lint

before_deploy:
  - nvm install 18
  - node --version
  - npm --version
  - npm install
  - pip install --user bump2version

deploy:
  - provider: script
    script: npm run semantic-release
    skip_cleanup: true
    on:
      go: "1.19.x"
      branch: main
