language: go

dist: jammy
group: stable

env:
  global:
    - GO111MODULE=on
    - GOGC=50
    - GOMAXPROCS=2

jobs:
  include:
    - name: "Lint (Go 1.22)"
      go: 1.22.x
      before_install:
        - sudo apt-get update
        - pyenv global 3.8 || true
        - export PATH=$PATH:$(go env GOPATH)/bin
        - go mod tidy
        - go mod verify
        # Install linters
        - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin v1.54.2
        - curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin
      script:
        - golangci-lint cache clean || true
        - make lint || make lint-split
      cache:
        directories:
          - $GOPATH/pkg/mod
          - $HOME/.cache/golangci-lint

    - name: "Build & Test (Go 1.23)"
      go: 1.23.x
      before_install:
        - sudo apt-get update
        - pyenv global 3.8 || true
        - export PATH=$PATH:$(go env GOPATH)/bin
        - go mod tidy
        - go mod verify
        # Install gosec for scan-gosec
        - curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin
      script:
        - make tidy
        - make test-cov
        - make scan-gosec
      cache:
        directories:
          - $GOPATH/pkg/mod
