language: go

# Use Ubuntu 22.04 to avoid apt repo issues (focal is breaking)
dist: jammy
group: stable

# Test against multiple Go versions
go:
  - 1.19.x
  - 1.20.x
  - 1.21.x
  - 1.22.x

notifications:
  email: true

env:
  global:
    - GO111MODULE=on

before_install:
  - sudo apt-get update
  - pyenv global 3.8
  - export PATH=$PATH:$(go env GOPATH)/bin
  - go mod tidy
  - go mod verify

install:
  - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin
  - curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin

before_script:
  - go version
  - go env

script:
  - make tidy
  - make test-cov
  - golangci-lint run --fix --build-tags=integration,examples || true
  - make lint
  - make scan-gosec

cache:
  directories:
    - $GOPATH/pkg/mod

before_deploy:
  - nvm install 18
  - node --version
  - npm --version
  - npm install
  - pip install --user bump2version

deploy:
  - provider: script
    script: npm run semantic-release
    skip_cleanup: true
    on:
      go: "1.19.x"
      branch: main
