language: go

dist: jammy
group: stable

env:
  global:
    - GO111MODULE=on
    - GOGC=50
    - GOMAXPROCS=2

jobs:
  include:
    - name: "Lint (Go 1.22)"
      go: 1.22.x
      before_install:
        - sudo apt-get update
        - pyenv global 3.8 || true
        - export PATH=$PATH:$(go env GOPATH)/bin
        # Patch go.mod for Go 1.22 compatibility
        - sed -i -E 's/^go[[:space:]]+1\.23(\.0)?/go 1.22/' go.mod
        - sed -i '/^toolchain[[:space:]]/d' go.mod
        - go mod edit -replace=golang.org/x/crypto@v0.36.0=golang.org/x/crypto@v0.21.0
        - go mod edit -replace=golang.org/x/text@v0.23.0=golang.org/x/text@v0.15.0
        - go mod tidy
        - go mod verify
        # Install linters
        - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin v1.54.2
        - curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin
      script:
        - golangci-lint cache clean || true
        - make lint || make lint-split
      cache:
        directories:
          - $GOPATH/pkg/mod
          - $HOME/.cache/golangci-lint

    - name: "Build & Test (Go 1.23)"
      go: 1.23.x
      before_install:
        - sudo apt-get update
        - pyenv global 3.8 || true
        - export PATH=$PATH:$(go env GOPATH)/bin
        - go mod tidy
        - go mod verify
        # Install gosec
        - curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin
      script:
        - make tidy
        - make test-cov
        - make scan-gosec
      cache:
        directories:
          - $GOPATH/pkg/mod

    - name: "Build & Test (Go 1.21)"
      go: 1.21.x
      before_install:
        - sudo apt-get update
        - pyenv global 3.8 || true
        - export PATH=$PATH:$(go env GOPATH)/bin
        # Patch go.mod for Go 1.21 compatibility
        - sed -i -E 's/^go[[:space:]]+1\.23(\.0)?/go 1.21/' go.mod
        - sed -i '/^toolchain[[:space:]]/d' go.mod
        - go mod edit -replace=golang.org/x/crypto@v0.36.0=golang.org/x/crypto@v0.21.0
        - go mod edit -replace=golang.org/x/text@v0.23.0=golang.org/x/text@v0.15.0
        - go mod tidy
        - go mod verify
        - curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin
      script:
        - make tidy
        - make test-cov
        - make scan-gosec
      cache:
        directories:
          - $GOPATH/pkg/mod

    - name: "Build & Test (Go 1.19)"
      go: 1.19.x
      before_install:
        - sudo apt-get update
        - pyenv global 3.8 || true
        - export PATH=$PATH:$(go env GOPATH)/bin
        # Patch go.mod for Go 1.19 compatibility
        - sed -i -E 's/^go[[:space:]]+1\.23(\.0)?/go 1.19/' go.mod
        - sed -i '/^toolchain[[:space:]]/d' go.mod
        - go mod edit -replace=golang.org/x/crypto@v0.36.0=golang.org/x/crypto@v0.0.0-20210921155107-089bfa567519
        - go mod edit -replace=golang.org/x/text@v0.23.0=golang.org/x/text@v0.3.7
        - go mod tidy
        - go mod verify
        - curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin
      script:
        - make tidy
        - make test-cov
        - make scan-gosec
      cache:
        directories:
          - $GOPATH/pkg/mod
